<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stle.css')}}">
</head>
<body>
    <form method = "POST" action = "/goal">
        <div>
            <label>Insert Song Name</label>
            <input type = "text" placeholder="song" name="song" required>
        </div>
        <br>
        <div>
            <label>Insert Time Goal</label>
            <input type = "text" placeholder="(in hours)" name="time" required>
        </div>
        <br>
        <div>
            <label>Insert Start Date</label>
            <input type = "text" placeholder="MM/DD/YYYY" maxlength=10 minlength=10 name="date" required>
        </div>
        <br>
        <div>
            <input type = "submit">
        </div>
    </form>
</body>
</html>