<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stle.css')}}">
</head>
<body>
    <h1>
        
        <div>
            <input  type = "button" value="Add Song/Time" onclick="window.location.href= '/add_song'">
        </div>
        
       
    
        <div>
            <input type = "button" value="Song Times" onclick="window.location.href= '/all_songs'">
        </div>

        

        <div>
            <input type = "button" value="Add Goal" onclick="window.location.href= '/add_goal'">
        </div>

       

        <div>
            <input type = "button" value="See Goals" onclick="window.location.href= '/goals'">
        </div>



        <div>
            <input type = "button" value="Register" onclick="window.location.href= '/registration'">
        </div>



         <div>
            <input type = "button" value="Login" onclick="window.location.href= '/login'">
        </div>
        
        
        
    </h1>
</body>
</html>